# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.PlayerPostionCWC.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\falte\3D Objects\DGM 1660\DMG 1610\DGM-1610Spring21\PlayerPostionCWC\.idea\.idea.PlayerPostionCWC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
