# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Lesson 3.1.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\falte\3D Objects\DGM 1660\DMG 1610\DGM-1610Spring21\Lesson 3.1\.idea\.idea.Lesson 3.1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
