# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Lesson 5.1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\falte\3D Objects\DGM 1660\DMG 1610\DGM-1610Spring21\Lesson 5.1\.idea\.idea.Lesson 5.1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
