# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Rectangle.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\falte\3D Objects\DGM 1660\DMG 1610\DGM 1610Spring21\Rectangle\.idea\.idea.Rectangle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
