# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Color Switch Replica.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\falte\3D Objects\DGM 1660\DMG 1610\DGM 1610Spring21\Color Switch Replica\.idea\.idea.Color Switch Replica\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
